<table class="table">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Дата записи</th>
			<th>Парикмахер</th>
			<th>Цвет</th>
		</tr>
	</thead>

	<body><
		<% @results.each do |row| %>
			<tr>
				<td><%= row['name'] %></td>
				<td><%= row['phone'] %></td>
				<td><%= row['dateStamp'] %></td>
				<td><%= row['barber'] %></td>
				<td><%= row['colore'] %></td>
			</tr>
		<% end %>
	</body>
</table>